/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-color: url(../images/cover-image-light.png);
  --bg-color: #FFC2E6;
  --border-button-color: rgba(50, 49, 45, 0.40);
  --accent-color: #353430;
  --accent-text-color: #FF8DCB;
  --accent-bg-color: #FF8DCB;
  --menu-button-active: #353430;
  --header-title: #FFC2E6;
  --text-color: #353430;
  --accent-shadow-color: #FF8DCB;
}

.theme-light .header-decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: url(../images/cover-image-light.png);
  --bg-color: #FFC2E6;
  --border-button-color: rgba(50, 49, 45, 0.40);
  --accent-color: #353430;
  --accent-bg-color: #FF8DCB;
  --menu-button-active: #353430;
  --header-title: #FFC2E6;
  --text-color: #353430;
  --accent-shadow-color: #FF8DCB;
  }

  .header-decorated {
    display: none;
  }


}

